ws-ex/src/main/resources/schema/com/dev/ws/provider/mathservice2014.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.dev.com/mathservice2014/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="mathservice2014" targetNamespace="http://ws.dev.com/mathservice2014/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://ws.dev.com/mathservice2014/">
			<xsd:element name="add">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="valOne" type="xsd:int" />
						<xsd:element name="valTwo" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="addRequest">
		<wsdl:part element="tns:add" name="parameters" />
	</wsdl:message>
	<wsdl:message name="addResponse">
		<wsdl:part element="tns:addResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="mathservice2014">
		<wsdl:operation name="add">
			<wsdl:input message="tns:addRequest" />
			<wsdl:output message="tns:addResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="mathservice2014SOAP" type="tns:mathservice2014">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="add">
			<soap:operation soapAction="http://ws.dev.com/mathservice2014/add" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="mathservice2014">
		<wsdl:port binding="tns:mathservice2014SOAP" name="mathservice2014SOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
